@import '../../styles/colors';
@import '../../styles/modules';

.OptionButton button {
  width: 100%;
  overflow: hidden;
}

.OptionButton .FormButton {
  @include button(darken($GreenSelected, 10%)); // #1abc9c
  margin-bottom: 0.5em;
  height: 35px;

  &:active {
    background-color: $White;
  }
}

.ButtonDisconnect {
  @include button(#db4444);
  width: 100%;
}

.ButtonStartThinking {
  @include button(#5472c4);
  width: 100%;
  margin-top: 0.5em;
}
