@import '../../styles/colors';

.FormCheck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 1.5em;
  margin: 1em 0;
  color: $FontColor;
  span {
    margin: 0.16em 0;
  }
}

@mixin toggleColors() {
  $offColor: #777;
  $onColor: $GreenSelected;
  $inactiveTextColor: rgba(white, 0.5);

  input[type='checkbox']:checked ~ label .ToggleSwitch {
    background-color: $onColor;
    &::after {
      color: darken($onColor, 5%);
      font-weight: bold;
    }
  }

  label .ToggleSwitch {
    background: $offColor;
    &::before {
      color: $inactiveTextColor;
    }
    &::after {
      transition: transform 0.1s ease-in;
      color: $offColor;
    }
  }
}

@mixin toggleSizes(
  $toggleWidth: 100px,
  $toggleHeight: 36px,
  $toggleBorderRadius: 4px,
  $toggleOffset: 2px,
  $toggleLabelFontSize: 14px,
  $toggleSwitchFontSize: 12px
) {
  $toggleSwitchWidth: $toggleWidth/2;

  input[type='checkbox']:checked ~ label .ToggleSwitch::after {
    $transitionX: $toggleWidth - ($toggleSwitchWidth + $toggleOffset);
    transform: translate3d($transitionX, 0, 0);
  }

  label {
    font-size: $toggleLabelFontSize;
  }
  label .ToggleSwitch {
    height: $toggleHeight;
    flex: 0 0 $toggleWidth;
    border-radius: $toggleBorderRadius;

    &::before {
      left: $toggleWidth/2;
      font-size: $toggleSwitchFontSize;
      line-height: $toggleHeight;
      width: $toggleWidth/2;
      padding: 0 12px;
    }

    &::after {
      top: $toggleOffset;
      left: $toggleOffset;
      border-radius: $toggleBorderRadius/2;
      width: $toggleSwitchWidth - $toggleOffset;
      line-height: $toggleHeight - ($toggleOffset * 2);
      font-size: $toggleSwitchFontSize;
    }
  }
}

.FormCheckToggle {
  position: relative;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  input[type='checkbox']:checked ~ label .ToggleSwitch {
    &::before {
      content: attr(data-unchecked);
      left: 0;
    }

    &::after {
      content: attr(data-checked);
    }
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  label .ToggleSwitch {
    position: relative;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: attr(data-checked);
      position: absolute;
    }

    &::after {
      content: attr(data-unchecked);
      position: absolute;
      background: white;
    }
  }

  @include toggleColors;
  @include toggleSizes(120px, 30px, 2px, 1px, 13px, 10px);
}
