# Javascript Node CircleCI 2.0 configuration file
# https://circleci.com/docs/2.0/language-javascript/
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Jest Suit
          command: yarn test:ci && yarn codecov
          environment:
            JEST_JUNIT_OUTPUT: reports/junit/test-results.xml
            CI: true
      - store_test_results:
          path: reports/junit
      - store_artifacts:
          path: reports/junit
