$color-title: rgb(155, 155, 155);
$color-title-border: rgba(148, 148, 148, 0.83);
$color-gradi-start: rgba(180, 180, 180, 0.83);
$color-gradi-end: rgba(222, 219, 219, 0.63);
$color-gr: rgb(133, 164, 120);
$color-gr-hv: rgba(189, 227, 172, 0.64);
$color-gr-ac: rgba(127, 193, 99, 0.64);
$color-gr-selected: rgba(133, 164, 120, 0.79);
$color-bl: rgb(122, 120, 120);
$color-gray: rgba(248, 246, 246, 0.64);
$color-gray-hv: rgba(255, 255, 255, 0.75);
$color-promote: rgba(251, 141, 141, 0.71);
$color-promote-hv: rgba(255, 225, 225, 0.55);
$color-not-promote: rgba(142, 182, 253, 0.70);
$color-not-promote-hv: rgba(220, 229, 246, 0.55);
$color-branch: rgb(81, 121, 67);
$img-path-p: '../images/pieces';
$img-path-c: '../images/components';

@mixin flex-disp($fl) {
  flex: $fl 0 1px;
  display: flex;
}

@mixin aspect($ratio) {
  &:after {
    content: '';
    display: block;
    padding-top: $ratio;
  }
}

@mixin backgr {
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center center;
}

@mixin edge($fl) {
  @include flex-disp($fl);
	justify-content: center;
	align-items: center;
}

@mixin overflow() {
  overflow: auto;
  -ms-overflow-style: none;
}
