@import 'dclrs';

#fu-0 { background-image: url($img-path-p + '/fu0.png'); }
#ky-0 { background-image: url($img-path-p + '/ky0.png'); }
#ke-0 { background-image: url($img-path-p + '/ke0.png'); }
#gi-0 { background-image: url($img-path-p + '/gi0.png'); }
#ki-0 { background-image: url($img-path-p + '/ki0.png'); }
#ka-0 { background-image: url($img-path-p + '/ka0.png'); }
#hi-0 { background-image: url($img-path-p + '/hi0.png'); }
#gy-0 { background-image: url($img-path-p + '/ou0.png'); }
#ou-0 { background-image: url($img-path-p + '/ou0.png'); }
#to-0 { background-image: url($img-path-p + '/to0.png'); }
#ny-0 { background-image: url($img-path-p + '/ny0.png'); }
#nk-0 { background-image: url($img-path-p + '/nk0.png'); }
#ng-0 { background-image: url($img-path-p + '/ng0.png'); }
#ry-0 { background-image: url($img-path-p + '/ry0.png'); }
#um-0 { background-image: url($img-path-p + '/um0.png'); }
#fu-1 { background-image: url($img-path-p + '/fu1.png'); }
#ky-1 { background-image: url($img-path-p + '/ky1.png'); }
#ke-1 { background-image: url($img-path-p + '/ke1.png'); }
#gi-1 { background-image: url($img-path-p + '/gi1.png'); }
#ki-1 { background-image: url($img-path-p + '/ki1.png'); }
#ka-1 { background-image: url($img-path-p + '/ka1.png'); }
#hi-1 { background-image: url($img-path-p + '/hi1.png'); }
#gy-1 { background-image: url($img-path-p + '/ou1.png'); }
#ou-1 { background-image: url($img-path-p + '/ou1.png'); }
#to-1 { background-image: url($img-path-p + '/to1.png'); }
#ny-1 { background-image: url($img-path-p + '/ny1.png'); }
#nk-1 { background-image: url($img-path-p + '/nk1.png'); }
#ng-1 { background-image: url($img-path-p + '/ng1.png'); }
#ry-1 { background-image: url($img-path-p + '/ry1.png'); }
#um-1 { background-image: url($img-path-p + '/um1.png'); }
