// green
$GreenBase: rgb(133, 164, 120);
$GreenHover: rgba(189, 227, 172, 0.64);
$GreenSelected: rgb(118, 199, 83);
$GreenBranch: rgb(81, 121, 67);

$GrayBase: rgba(248, 246, 246, 0.64);
$GrayHover: rgba(255, 255, 255, 0.75);

$RedBase: rgba(250, 128, 128, 0.71);
$RedHover: rgba(255, 225, 225, 0.55);
$BlueBase: rgba(132, 176, 252, 0.7);
$BlueHover: rgba(220, 229, 246, 0.55);
