$FontColor: rgba(0, 0, 0, 0.85);

$GreenBase: rgb(133, 164, 120);
$GreenHover: rgba(189, 227, 172, 0.64);
$GreenSelected: rgb(118, 199, 83);
$GreenBranch: rgb(81, 121, 67);

$GrayBase: rgb(124, 124, 124);
$GrayTransParent: rgba(248, 246, 246, 0.64);
$GrayHover: rgba(255, 255, 255, 0.75);

$White: rgb(255, 255, 255);
$WhiteHover: rgba(255, 255, 255, 0.5);
