@import '../../styles/colors';
@import '../../styles/modules';

$baseZIndex: 1000;

.ControllerBoard {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: $FontColor;
  z-index: $baseZIndex;
  overflow: hidden;
  padding: 5%;
}
