@import '../../styles/colors';
@import '../../styles/modules';

$baseZIndex: 1000;

.ControllerBoard {
  margin: auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  background-color: #f4f7f8; // TODO 色
  overflow: auto;
  z-index: $baseZIndex;

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 92%;
  padding: 5%;
}
