@import '../../../styles/colors';
@import '../../../styles/modules';

.EngineInfoColumn {
  display: flex;
  flex-direction: column;
  padding: 2px;
  padding-right: 0;
  box-sizing: border-box;
}

.EngineInfoColumn .EngineInfoRow {
  padding: 0.2em 10px;
  white-space: nowrap;
}

.EngineInfoColumn .EngineInfoRowContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  border: 1px solid $GreenBase;
  border-radius: 0.25vw;
}

.EngineInfoColumn .EngineInfoRowLabel {
  text-align: center;
  font-size: 0.8em;
  line-height: 1.1em;
}

.EngineInfoColumn .Center {
  text-align: center;
}

.EngineInfoColumn .EngineInfoRowContent {
  line-height: 1.3em;
}

.EngineInfoRow {
  background-color: $GrayTransParent;
}
