@import '../styles/modules';

$ImgComponentsPath: '../img/components';
$ImgPiecesPath: '../img/img/pieces';

.App {
  @include backImgCenter;
  display: grid;
  padding: 1em;
  min-width: 650px;
  background-image: url($ImgComponentsPath+'/tatami.jpg');
}

.App-BoardOnly {
  grid-template-columns: 1fr;
}

.App-SideInfo {
  grid-template-columns: 3fr 1fr;
}
