@import '../styles/modules';

.AppContainer {
  margin: auto;
  min-width: 250px;
  max-width: 100%;
  position: relative;
}

.App {
  display: grid;
  padding: 1rem;
}

.App-BoardOnly {
  grid-template-columns: 1fr;
}

.App-SideInfo {
  grid-template-columns: 3fr 1fr;
}
