.homeContainer {
  background-color: rgb(65, 65, 65);
}

.homeContainer .button {
  width: 150px;
  color: rgb(226, 226, 226);
  border-color: rgb(226, 226, 226);
}

.projectTitle {
  color: rgb(226, 226, 226);
}

.post h1,
.post h2,
.post h3 {
  font-size: 2em;
}

.mainContainer .post h2 {
  border-bottom: 1px solid;
  padding-bottom: 0.3em;
  margin-top: 2em;
  margin-bottom: 16px;
}

.noPadding {
  padding: 0;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
