@import '../../../styles/colors';
@import '../../../styles/modules';

.DetailContainer {
  color: $FontColor;
}

$EngineTitleMargin: 13px;

.DetailContainer .EngineOption {
  line-height: 1.5;
  font-size: 1.2em;
  margin: {
    top: $EngineTitleMargin;
    bottom: $EngineTitleMargin;
  }
  &::before {
    content: '●';
    color: $GreenSelected;
    margin-right: 8px;
  }
}
