@import '../../../styles/colors';
@import '../../../styles/modules';

.DetailContainer {
  color: $FontColor;
}

.DetailContainer .EngineName {
  height: 1.7em;
  font-size: 1.5em;
}

.DetailContainer .EngineOption {
  line-height: 1.5;
  font-size: 1.2em;
  margin: {
    top: 1em;
    bottom: 1em;
  }
  &::before {
    content: '●';
    color: $GreenSelected;
    margin-right: 8px;
  }
}
