@import '../../../styles/colors';
@import '../../../styles/modules';

.ListEngineName {
  @include flexCenter;
  color: $FontColor;
  width: 100%;
  height: 3em;
  margin: 2px;
  border-bottom: 2px solid $GreenBase;

  &:hover {
    background-color: $GrayHover;
  }
}
