@import '../../../../styles/colors';
@import '../../../../styles/modules';

.OptionButton button {
  width: 100%;
  overflow: hidden;
}

.ButtonDisconnect {
  @include button(#db4444);
  width: 100%;
}

.ButtonStartThinking {
  @include button(#5472c4);
  width: 100%;
  margin-top: 0.5em;
}
