.SelectContainer {
  color: rgba(0, 0, 0, 0.67);
  letter-spacing: 0.05em;
}

.OptionSelect {
  overflow: hidden;
  width: 100%;
  margin: 0.5em auto 1.5em auto;
  text-align: center;
  select {
    width: 100%;
    padding-right: 1em;
    font-size: 1em;
    letter-spacing: 0.05em;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }
}

.OptionSelect.SelectTriangle {
  position: relative;
  border: 1px solid #bbbbbb;
  border-radius: 2px;
  background: #ffffff;
  &::before {
    content: '';
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    border: {
      left: 6px solid transparent;
      right: 6px solid transparent;
      top: 6px solid #666666;
    }
    pointer-events: none;
  }

  select {
    padding: 8px 38px 8px 8px;
    color: #666666;
  }
}
