@import '../../styles/colors';
@import '../../styles/modules';

$baseZIndex: 1000;

.Mockup {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 91%;
  padding: 5%;
  margin: auto;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  background-color: #f4f7f8; // TODO 色
  border-radius: 0.25vw;
  overflow: auto;
  z-index: $baseZIndex;
}

.Mockup .MockupCloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  line {
    stroke: $FontColor;
    stroke-width: 2px;
  }
  cursor: pointer;
}
