@import 'styles/reset';
@import 'styles/colors';
@import 'styles/modules';
$ImgComponentsPath: './img/components';

body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic,
    'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $FontColor;
  box-sizing: border-box;
}

code,
.code {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#root {
  @include backImgCenter;
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background-image: url($ImgComponentsPath + '/tatami.jpg');
  overflow-x: hidden;
}

.headerMain {
  visibility: hidden;
  height: 0;
  width: 0;
}

.footerContent {
  display: grid;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7em;

  div,
  span,
  a {
    margin: 0.1em auto;
    color: $GrayBase;
  }

  a {
    display: inline;
    text-decoration: none;
  }
}

h1 {
  height: 1.7em;
  font-size: 1.5em;
  margin-bottom: 13px;
}
