@import '../../styles/paths';
@import '../../styles/modules';

$boardAspectValue: 109%;

.BoardContainer {
  @include aspect($boardAspectValue);
  position: relative;
}

.Board {
  @include backImgCenter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr;
  background-image: url($ImgComponentsPath+'/board.png');
}
