@import '../../styles/colors';
@import '../../styles/modules';

.ButtonsContainer {
  margin: 0 0.2em 0 0;
  grid-area: buttons;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'prevOne prevOne nextOne nextOne'
    'prevFive prevFive nextFive nextFive'
    'rev rev rev rev'
    'cp cp cp cp'
    'engine engine engine engine'
    'conf conf conf conf';

  button {
    @include backImgCenter;
    margin: 0;
    font: inherit;
    font-size: 1.9vw;
    background-color: $White;
    border: 1px solid $GreenBase;
    border-radius: 0.25vw;
    outline: 0;

    &:hover {
      background-color: $GreenHover;
    }
    &:active {
      background-color: $GreenBase;
    }
  }
}

.ConnectToEngine {
  grid-area: engine;
}

.PrevOne {
  grid-area: prevOne;
}

.NextOne {
  grid-area: nextOne;
}

.PrevFive {
  grid-area: prevFive;
}

.NextFive {
  grid-area: nextFive;
}

.Reverse {
  grid-area: rev;
}

.Copy {
  grid-area: cp;
}

.Configuration {
  grid-area: conf;
}
