@import '../../styles/colors';
@import '../../styles/paths';
@import '../../styles/modules';
@import '../../styles/pieces';

$borderColor: rgb(0, 0, 0);
$borderWidth: 0.15vw;
$edgeTextSize: 1.2vw;

.Piece {
  @include backImgCenter;
  position: relative;
}

.Piece-Bordered {
  border-bottom: $borderWidth solid $borderColor;
  border-right: $borderWidth solid $borderColor;
}

.Piece-Turn {
  &:hover {
    background-color: $GreenHover;
  }
  &:active {
    background-color: $GreenSelected;
  }
}

.Piece-Selected {
  background-color: $GreenSelected;
  &:hover {
    background-color: $GreenSelected;
  }
}

.Piece-Left {
  border-left: $borderWidth solid $borderColor;
}

.Piece-Top {
  border-top: $borderWidth solid $borderColor;
}

.Piece-Star {
  &::before {
    $pos: $borderWidth * -3.4;
    $width: $borderWidth * 7;
    content: '';
    position: absolute;
    right: $pos;
    bottom: $pos;
    height: $width;
    width: $width;
    @include backgroundCircle;
    z-index: 10;
  }
}

.Piece-Confirm {
  position: absolute;
  width: 100%;
  height: 100%;

  div {
    @include backImgCenter;
    background-color: $White;
    width: 100%;
    height: 50%;
    &:hover {
      background-color: $WhiteHover;
    }
  }
}

.Piece-Confirm-Promote {
  background-image: url($ImgComponentsPath+'/promote.png');
  background-size: 38% !important;
}

.Piece-Confirm-Preserve {
  background-image: url($ImgComponentsPath+'/preserve.png');
  background-size: 75% !important;
}

.Piece-Confirm1 {
  transform: rotate(180deg);
}

.Cell-EdgeText {
  @include flexCenter;
  pointer-events: none;

  span {
    font-size: $edgeTextSize;
  }
}
