@import '../../styles/colors';
@import '../../styles/modules';

$ImgComponentsPath: '../../img/components';
$ImgPiecesPath: '../../img/pieces';

$borderColor: rgb(0, 0, 0);
$edgeTextSize: 1.2vw;

@mixin bordered($borderWidth: 0.15vw) {
  .Piece-Bordered {
    border-bottom: $borderWidth solid $borderColor;
    border-right: $borderWidth solid $borderColor;
  }

  .Piece-Left {
    border-left: $borderWidth solid $borderColor;
  }

  .Piece-Top {
    border-top: $borderWidth solid $borderColor;
  }
}

@include bordered();

@for $i from 1 through 3 {
  .App.Border-#{$i} {
    @include bordered(#{$i}px);
  }
}

.Piece {
  @include backImgCenter;
  position: relative;
}

.Piece-Turn {
  &:hover {
    background-color: $GreenHover;
  }
  &:active {
    background-color: $GreenSelected;
  }
}

.Piece-Selected {
  background-color: $GreenSelected;
  &:hover {
    background-color: $GreenSelected;
  }
}

.Piece-Targeted {
  background-color: $GreenHover;
}

.Piece-Star {
  &::before {
    $pos: 3.35% * -3.9;
    $width: 3.35% * 7;
    content: '';
    position: absolute;
    right: $pos;
    bottom: $pos;
    height: $width;
    width: $width;
    @include backgroundCircle;
    z-index: 10;
  }
}

.Piece-Confirm {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  z-index: 10;

  div {
    @include backImgCenter;
    background-color: $White;
    width: 100%;
    height: 50%;
    &:hover {
      background-color: $GreenHover2;
    }
  }
}

.Piece-Confirm-Promote {
  background-image: url($ImgComponentsPath + '/promote.png');
  background-size: 38% !important;
}

.Piece-Confirm-Preserve {
  background-image: url($ImgComponentsPath + '/preserve.png');
  background-size: 75% !important;
}

.Piece-Confirm1 {
  transform: rotate(180deg);
}

.Cell-Edge {
  @include backImgCenter;
  pointer-events: none;
  position: relative;
}

$piecesMap: (
  1: fu0,
  2: kyou0,
  3: kei0,
  4: gin0,
  5: kin0,
  6: kaku0,
  7: hisha0,
  8: gyoku0,
  11: to0,
  12: narikyou0,
  13: narikei0,
  14: narigin0,
  16: uma0,
  17: ryu0,
  -1: fu1,
  -2: kyou1,
  -3: kei1,
  -4: gin1,
  -5: kin1,
  -6: kaku1,
  -7: hisha1,
  -8: gyoku1,
  -11: to1,
  -12: narikyou1,
  -13: narikei1,
  -14: narigin1,
  -16: uma1,
  -17: ryu1,
);

@each $id, $name in $piecesMap {
  .Piece-#{$id} {
    background-image: url($ImgPiecesPath + '/' + $name + '.svg');
  }
}
