@import '../../styles/colors';
@import '../../styles/modules';

.KifContainer {
  position: relative;
  grid-area: kif;
  margin: 0 0 0 0.2em;
  border: 0.25vw solid $GreenBase;
  background-color: $GrayTransParent;
  overflow: auto;
}

.Kif-Inner {
  position: absolute;
  height: 100%;
  width: 100%;
}

.Move {
  padding: 0.2em 0;
  white-space: normal;
  span.Number {
    color: $GrayBase;
    margin-right: 0.5vw;
    margin-left: 1vw;
  }
}

.Branch {
  padding: 0.3em 0;
  font-size: 90%;
  color: $GreenBranch;
  span {
    margin-left: 3vw;
  }
}

.Move,
.Branch {
  &:hover {
    background-color: $GrayHover;
  }
}

#Move-Current {
  background-color: $GrayHover;
}
