@import '../../styles/colors';
@import '../../styles/modules';

.KifContainer {
  position: relative;
  grid-area: kif;
  margin: 0 0 0 0.2em;
  border: 0.25vw solid $GreenBase;
  background-color: $GrayTransParent;
  overflow: auto;
}

.Kif-Inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
}

.Move {
  display: flex;
  padding: 0.2em 0;
  .Number {
    color: $GrayBase;
    margin-right: 0.05em;
    margin-left: 1vw;
  }
  .MoveText {
    white-space: nowrap;
    margin-right: 0.25em;
  }
}

.Branch {
  padding: 0.3em 0;
  font-size: 90%;
  color: $GreenBranch;
  span {
    margin-left: 3vw;
  }
}

.Move,
.Branch {
  &:hover {
    background-color: $GrayHover;
  }
}

#Move-Current {
  background-color: $GrayHover;
}
