@import '../../styles/colors';
@import '../../styles/modules';

.KifuContainer {
  position: relative;
  grid-area: kifu;
  margin: 0 0 0 0.2em;
  border: 0.25vw solid $GreenBase;
  background-color: $GrayTransParent;
  overflow: auto;
}

.Kifu-Inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
}

.Move {
  display: flex;
  padding: 0.2rem 0;
  cursor: pointer;
  position: relative;

  .Number {
    color: $GrayBase;
    margin-right: 0.05rem;
    margin-left: 1vw;
  }
  .MoveText {
    white-space: nowrap;
    margin-right: 0.25rem;
  }
}

.Branch {
  padding: 0.3em 0;
  font-size: 90%;
  color: $GreenBranch;
  span {
    margin-left: 3vw;
  }
}

.Move,
.Branch {
  &:hover {
    background-color: $GrayHover;
  }

  .DeleteMove {
    @include backImgCenter;
    display: none;
    position: relative;
    margin-left: 1.5rem;
    padding: 0.25rem;
    width: 0.8rem;
  }

  &:hover {
    .DeleteMove {
      display: inline-block;
    }
  }
}

#Move-Current {
  background-color: $GrayHover;
}
