@import '../../styles/modules';

.RightSide {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  overflow: hidden;
}

.RightInfo {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    'kif'
    'player';
}
