@import '../../styles/paths';
@import '../../styles/modules';

.RightSide {
  @include overflow;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.RightInfo {
  @include overflow;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    'kif'
    'player';
}
